.painel-visualizacao{
    background: #d9fdd3;
    margin: 10px;    
    padding: 5px;
    border-radius: 10px;
}

.painel-visualizacao img{
    width: 100%;
    border-radius: 10px;
}

.painel-visualizacao p{
    color: #000;
    margin-left: 10px;
    white-space: pre-wrap;
}

.loading-img {
  width: 20px; /* ajuste o tamanho desejado */
  height: 20px; /* ajuste o tamanho desejado */
}
